@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-night font-sans;
  @apply relative z-10;
  background: linear-gradient(to bottom right, #b2d8f7, #a0e9e0, #e2c2f0);
}

.glass {
  @apply bg-white bg-opacity-20 backdrop-blur-lg shadow-lg rounded-2xl p-6;
}
@keyframes fadeInSlow {
  from {
    opacity: 0;
    transform: scale(1.05);
  }
  to {
    opacity: 0.5;
    transform: scale(1.1);
  }
}

.animate-fadeInSlow {
  animation: fadeInSlow 3s ease-out forwards;
}
